<body class="centralize">
    <form formGroup="registerForm">
      <div class="form-field">
        <div><label>Email</label></div>
        <input type="email" formControlName="email" placeholder="seu@email.com" />
        <div class="error" *ngIf="email.errors?.required && email.touched">
          Email é obrigatório
        </div>
        <div class="error" *ngIf="email.errors?.email && email.touched">
          Email é inválido
        </div>
      </div>
      <div class="form-field">
        <div><label>Senha</label></div>
        <input type="password" formControlName="password" placeholder="Senha" />
        <div class="error" *ngIf="password.errors?.required && password.touched">
          Senha é obrigatório
        </div>
        <div class="error" *ngIf="password.errors?.minlength && password.touched">
          Senha deve ter pelo menos 6 caracteres
        </div>
      </div>
      <div class="form-field">
        <div><label>Confirmar senha</label></div>
        <input type="password" formControlName="confirmPassword" placeholder="Confirmar senha" />
        <div class="error" *ngIf="registerForm.errors?.passwordMismatch && confirmPassword.touched">
          Senha e Confirmar senha devem ser iguais
        </div>
      </div>
      <div>
        <button type="button" class="solid" [disabled]="registerForm.invalid" (click)="register()">
          Registrar
        </button>
      </div>
      <div>
        <button type="button" class="clear" (click)="logar()">Login</button>
      </div>
    </form>
  </body>
  