form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

div .error-message {
  color: #dc3545;
  font-size: 0.875em;
}


/* responsividade */
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Adicione estilos específicos para dispositivos móveis aqui */
  }
  
  /* Estilos para notebooks e tablets */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione estilos específicos para notebooks e tablets aqui */
  }
  
  /* Estilos para monitores médios e grandes */
  @media only screen and (min-width: 1025px) {
    /* Adicione estilos específicos para monitores médios e grandes aqui */
  }
  