body {
    height: 100vh;
}
form {
    width: 500px;
    text-align: center;
    font-weight: bold;
    color: #ffb4b4;
    font-size: 20pt;
}
input {
    border: none;
    background-color: #cf9090;
    font-size: medium;
}
input,
button {
   padding: 20px;
   width: -webkit-fill-available;
   border-radius: 25px;
   
}
button {
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}
/* global.css */
body {
    margin: 0;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.loading label {
    font-size: 24px;
}

button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: rgb(0, 145, 77);
    border: none;
    color: rgba(203, 254, 224, 0.952);
    font-weight: bolder;
}
.outline {
    background: rgb(73, 73, 220);
    color: rgb(83, 244, 255);
    border: 1px solid white;
    font-weight: bolder;
}

.error {
    background: red;
    color: white;
    display: none;
} 
.container {
    width: 25%; /* largura do container */
    margin: 0 auto; /* centralizar o container na página */
    padding: 80px; /* espaçamento interno do container */
    background-color: #e95252; /* cor de fundo do container */
    border-radius: 30px; /* arredondamento das bordas do container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra do container */
    display: flex; /* usar flexbox para alinhar os elementos */
    flex-direction: column; /* alinhar os elementos na vertical */
    height: 50%;
    align-items: center; /* alinhar os elementos no centro horizontal */
  }
  
  /* Estilo do texto dentro do container */
  .container h1 {
    color: #333; /* cor do texto */
    text-align: center; /* centralizar o texto */
  }


  /* responsividade */
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Adicione estilos específicos para dispositivos móveis aqui */
  }
  
  /* Estilos para notebooks e tablets */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione estilos específicos para notebooks e tablets aqui */
  }
  
  /* Estilos para monitores médios e grandes */
  @media only screen and (min-width: 1025px) {
    /* Adicione estilos específicos para monitores médios e grandes aqui */
  }
  