*{
    background-image: url(/assets/img/background.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}