
.text{
 font-weight: inherit;
    font-size: 25px;
    padding: 10px;
}
.red {color: #ee2121;}
.green {color: #009c19;}
.blue {color: #0d52d9;}
.orange {color: #ff6b00;}
.sky-blue {color: #00b9f3;}
.yellow{color: #fff500;}

.container-qs{
 background-color: #a7a7ec;
 margin: 0 auto;
 width: 70%;
 line-height: 1.5;
font-size: x-large;
padding: 50px;
border-radius: 60px;
margin-top: 10%;
}
.imagem{
    float: right;
   width: 300px;
   margin-left: 2.3%;
}

img.link{
    width: 60%;
    margin-top: 15px;
    
}

a.nav-texto{
    font-size: 10pt;
    text-decoration: none;
}
a{
    text-decoration: none;
}