<header>
  <nav class="navbar">
      <button class="close-button" (click)="toggleNavbar()">&#10006;</button>
      <ul style="margin-top: 60px; margin-left: 10px;">
          <li ><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/arts">Os artistas</a></li>
          <li> <a href="/aprender"> Onde estudar?</a> </li>
          <li> <a href="/inspiracao">Inspire-se</a></li>
          <li> <a href="/sobrenos">  Sobre nós</a></li>
      </ul>
  </nav>
  <ul class="head-hd">
      <div class="menu-icon" (click)="toggleNavbar()">&#9776;</div>
      <div class="head-item">
          <a class="head-link" href="/"><img src="./assets/img/logo-sparte.png" alt="" width="120px" style="margin-left: 10px;"></a>
        </div>
        <a href="/"class="item" style="color: #3d3d3d;" >Home </a>
        <a href="/arts" class="item" style="color: #3d3d3d;">Os artistas</a>
        <a href="/sobrenos" class="item" style="color: #3d3d3d;">Sobre nós</a>
          <a class="perfil" href="/login">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="55" viewBox="0 0 100 95" fill="none">
                  <path d="M50 0C22.4 0 0 21.0933 0 47.0833C0 73.0733 22.4 94.1667 50 94.1667C77.6 94.1667 100 73.0733 100 47.0833C100 21.0933 77.6 0 50 0ZM50 14.125C58.3 14.125 65 20.4342 65 28.25C65 36.0658 58.3 42.375 50 42.375C41.7 42.375 35 36.0658 35 28.25C35 20.4342 41.7 14.125 50 14.125ZM50 80.9833C37.5 80.9833 26.45 74.9567 20 65.8225C20.15 56.4529 40 51.3208 50 51.3208C59.95 51.3208 79.85 56.4529 80 65.8225C73.55 74.9567 62.5 80.9833 50 80.9833Z" fill="#FCA7A7"/>
              </svg>
          </a>
        </ul>
</header>



