
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 620px;
    border-radius: 20px;
    padding: 30px;
  }
  
  .person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .details {
    text-align: center;
  }
  
  .name {
    font-weight: bold;
    font-size: 18px;
    
  }
  
  .role {
    font-size: 14px;
    color: #ec0091;
  }
  
  .person1 {
    background-color:  #B19CD9  ; /* Cor da primeira pessoa */
  }
  
  .person2 {
    background-color:   #FF9A8B /* Cor da segunda pessoa */
  }
  
  .person3 {
    background-color: #FFE082; /* Cor da terceira pessoa */
  }
  
  .person4 {
    background-color: #A7C5EB;    ; /* Cor da quarta pessoa */
  }
  .container-sparte{
    background-color: #f0e374;
    margin: 0 auto;
    width: 90%;
    line-height: 1.5;
   font-size: medium;
   padding: 50px;
   border-radius: 60px;
   margin-top: 10%;
  }
  .spa{
    color: #8888ea;
    margin-top: 60px;
    font-size: 25pt;
     margin-left: 460px;
  }
  .imagem{
    float: left;
   width: 300px;
   margin-right: 3%;
}
p.container-sparte{
  color: #FFF8E1;
}